

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let pokemon of pokemons" class="col-md-4">
      <div class="card" id="">
        <div class="card-body">
          <p class="card-text" (click)="onSelected(pokemon)">
            <img
              class="img-fluid"
              src="{{ pokemon.sprites.front_default }}"
              alt="foto de pokemon"
              width="100"
              height="100"
            />
          </p>
          <h5 class="card-title">name: {{ pokemon.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selected">
  <app-pokemon-detail [pokemonDetalle]="pokemonDetalle"></app-pokemon-detail>
  <div class="text-center mt-3"></div>
</div>