<div class="card shadow-lg border-0">
  <div class="card-header bg-primary text-white">
    <h3>Detalle del Pokemon</h3>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ pokemonDetalle.height }}</h4>
    <p class="card-text"><strong>peso:</strong> {{ pokemonDetalle.weight }}</p>
    <p class="card-text"><strong>altura:</strong> {{ pokemonDetalle.abilities }}</p>
    <p class="card-text"><strong>sprites:</strong> {{ pokemonDetalle.sprites }}</p>
    <p class="card-text">
      <strong>Tipo:</strong>
    </p>
  </div>
  <div class="card-footer text-muted">
    Información adicional sobre el pokemon seleccionado.
  </div>
</div>
